<div>
    <ul>
        <li>
            any numbers followed by:
            <ul>
                <li>
                    L : set line length (ex: '30 L')
                </li>
                <li>
                    E A D G B e : put on corresponding string (ex: '0 E 5 A 0 2 e')
                </li>
            </ul>
        </li>
        <li>
            chords start with ", are space separated, and go E A D G B e in order (ex: '"3 2 - - - 3')
        </li>
        <li>
            start a new tab row with: 'new'
        </li>
        <li>
            delete last row with: 'delete'
        </li>
    </ul>
</div>