<help-page [hidden]="hideHelp" class="container-fluid"></help-page>

<md-card class="input-group">
    <md-input-container style="width: 100%">
        <input mdInput #tabs type="text"
            [value]="userInput" placeholder="type 'help' to show or hide instructions"
            (keyup.enter)="onSubmit(tabs.value, tabs)">
    </md-input-container>
    <span class="input-group-btn">
        <button md-raised-button type="button"
            (click)="onSubmit(tabs.value, tabs)"
            >Tab!</button>
    </span>
</md-card>


