<div class="col-9-sm">
    <div class="input-group">
        <input #tabs type="text" class="form-control" 
            [value]="userInput" placeholder="type 'help' to show or hide instructions"
            (keyup.enter)="onSubmit(tabs.value, tabs)">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button"
                (click)="onSubmit(tabs.value, tabs)"
                >Tab!</button>
        </span>
    </div>
</div>
<help-page [hidden]="hideHelp" class="container-fluid"></help-page>
